/* Global Setting */

button {
  font-family: helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  background: #567b95;
  color: white;
  padding: 0px 9px;
  border-radius: 4px;
  border: none;
  margin-right: 15px;
  cursor: pointer;
  height: 32px;
}

.title {
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  font-weight: bold;
  font-size: 15px;
}
a {
  text-decoration: none;
  color: black;
}

b {
font-weight: bold;
}
/* Header */
.head {
  height: 43px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #e2e2e2;
}

i {
  color: #333;
  width: 16px;
  height: 16px;
}

.navigation a {
  margin: 0 10px;
}

left-float {
  float: left;
}

right-float {
  float: right;
}

.banner
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
}

.banner figure
{
    width: 945px;
    margin: 25px 40px;
}
.banner img
{
    width: 100%;
}
.banner h1
{
 font-weight: 700;
 font-style: italic;
 font-size: 1.9375rem;

}
figcaption
{
 color: #666;
 width: auto;
 font-size: 0.875rem;
}
main
{
    display: grid;
    grid-template-columns: 370px 610px 90px 212px 80px;
    /* grid-template-rows: auto 315px auto 315px auto 315px auto 315px; */
}
article
{
grid-column: 2;
}
.about
{
 height: 70px;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 margin-bottom: 25px;
}
.author-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.author
{
 font-weight: bold;
 text-decoration: underline;

}
.about a
{
color: #333;
}
.social {
  display: flex;

}
.social a {
  margin-right: 10px;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  padding: 5px;
  background: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.date
{
    font-size: 0.8125rem;
}

.content p {
  margin-bottom: 15px;
  font-size: 20px;
  color: #333333;
}

.vid {
  margin: 60px 0;
}

.content a {
  color: #326891;
  text-decoration: underline;
}

.content strong {
  display: block;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
}
.inflation
{
    display: flex;
    flex-direction: column;
    grid-column: 1/5;

    margin-left: 190px;
    margin-right: auto;
}
/* .inflation p:first-child{
  font-family: Georgia;
  font-size: 14px;
  color: #666666;
} */
.inflation-header
{
    font-size: 1.25rem;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;

}
.ele-cont {
    display: flex;
    flex-wrap: wrap;
}

.ele {
  width: 260px;
  height: 265px;
  margin-right: 10px;
}
.ele p {
  font-family: arial;
  font-size: 12px;
}
.img-cont {
  width: 260px;
  height: 150px;
  overflow: hidden;
  position: relative;
}
.ele img {
  display: block;
  position: absolute;
  width: 1045px;
}
#img1{
  top: 0;
  left: 0;
}
#img2{
  top: 0;
  left: -270px;
}
#img3 {
  top: 0;
  left: -520px;
}
#img4 {
  top: 0;
  left: -800px;
}
#img5{
  top: -320px;
  left: 10px;
}

#img6{
  top: -320px;
  left: -270px;
}

#img7{
  top: -320px;
  left: -520px;
}

#img8{
  top: -320px;
  left: -800px;
}
.subscribe
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 32px 32px;

}
.subscribe p{
    font-size: 15px;
    font-weight: bold;

}
.subscribe a
{
    text-decoration: none;
}
.border
{
    width: 72px;
    border-bottom: 1px solid rgb(204, 204, 204);
    margin-bottom: 18px;
}
